<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AiModelConfigMapper">

    <select id="selectAll" resultType="com.example.entity.AiModelConfig">
        select * from ai_model_config
        <where>
            <if test="provider != null"> and provider like concat('%', #{provider}, '%')</if>
            <if test="modelName != null"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="modelType != null"> and model_type = #{modelType}</if>
            <if test="isEnabled != null"> and is_enabled = #{isEnabled}</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from ai_model_config
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.AiModelConfig" useGeneratedKeys="true">
        insert into ai_model_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="provider != null">provider,</if>
            <if test="modelName != null">model_name,</if>
            <if test="modelType != null">model_type,</if>
            <if test="baseUrl != null">base_url,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="temperature != null">temperature,</if>
            <if test="maxTokens != null">max_tokens,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="provider != null">#{provider},</if>
            <if test="modelName != null">#{modelName},</if>
            <if test="modelType != null">#{modelType},</if>
            <if test="baseUrl != null">#{baseUrl},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="maxTokens != null">#{maxTokens},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.AiModelConfig">
        update ai_model_config
        <set>
            <if test="provider != null">provider = #{provider},</if>
            <if test="modelName != null">model_name = #{modelName},</if>
            <if test="modelType != null">model_type = #{modelType},</if>
            <if test="baseUrl != null">base_url = #{baseUrl},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="maxTokens != null">max_tokens = #{maxTokens},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
