<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PromptTemplateMapper">

    <select id="selectAll" resultType="com.example.entity.PromptTemplate">
        select * from prompt_template
        <where>
            <if test="templateCode != null"> and template_code like concat('%', #{templateCode}, '%')</if>
            <if test="templateName != null"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="businessType != null"> and business_type = #{businessType}</if>
            <if test="isEnabled != null"> and is_enabled = #{isEnabled}</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from prompt_template
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.PromptTemplate" useGeneratedKeys="true">
        insert into prompt_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="templateCode != null">template_code,</if>
            <if test="templateName != null">template_name,</if>
            <if test="businessType != null">business_type,</if>
            <if test="systemPrompt != null">system_prompt,</if>
            <if test="userPrompt != null">user_prompt,</if>
            <if test="outputFormat != null">output_format,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="templateCode != null">#{templateCode},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="systemPrompt != null">#{systemPrompt},</if>
            <if test="userPrompt != null">#{userPrompt},</if>
            <if test="outputFormat != null">#{outputFormat},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.PromptTemplate">
        update prompt_template
        <set>
            <if test="templateCode != null">template_code = #{templateCode},</if>
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="systemPrompt != null">system_prompt = #{systemPrompt},</if>
            <if test="userPrompt != null">user_prompt = #{userPrompt},</if>
            <if test="outputFormat != null">output_format = #{outputFormat},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
